Repository abhaytalreja/next-saas: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, sort-package-json

Add roadmap, link docs, and set up post-commit validation
  .husky/post-commit
  ROADMAP.md
  apps/landing/src/app/page.tsx
  scripts/post-commit-validation.js
Due: eslint --fix, prettier --write

Add comprehensive internationalization and update docs navigation
  ROADMAP.md
  apps/docs/src/pages/_app.tsx
  apps/docs/src/pages/guard-rails.tsx
  apps/docs/src/pages/internationalization.tsx
  apps/docs/src/pages/use-cases.tsx
  apps/landing/next.config.js
  apps/landing/src/app/page.tsx
  next-i18next.config.js
  package-lock.json
  package.json
  packages/config/i18n/index.ts
  packages/ui/src/components/language-selector.tsx
  packages/ui/src/index.ts
  public/locales/de/common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/ja/common.json
  public/locales/zh/common.json
Due: eslint --fix, prettier --write, sort-package-json

Update landing page with latest features and fix dynamic require error
  ROADMAP.md
  apps/landing/src/app/page.tsx
  packages/ui/src/components/language-selector.tsx
Due: eslint --fix, prettier --write

Implement comprehensive theme system and header improvements
  ROADMAP.md
  apps/landing/src/app/layout.tsx
  apps/landing/src/app/page.tsx
  apps/landing/tailwind.config.js
  packages/ui/src/components/button.tsx
  packages/ui/src/components/card.tsx
  packages/ui/src/components/language-selector-app.tsx
  packages/ui/src/components/theme-switcher.tsx
  packages/ui/src/contexts/theme-context.tsx
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write

Fix SSR/client component separation for SEO optimization
  ROADMAP.md
  apps/landing/src/app/page.tsx
  apps/landing/src/components/client-animations.tsx
  apps/landing/src/components/client-header.tsx
Due: eslint --fix, prettier --write

Remove HubSpot branding and fix dark mode styling issues
  apps/landing/next.config.js
  apps/landing/src/app/layout.tsx
  apps/landing/src/app/not-found.tsx
  apps/landing/src/app/page.tsx
  apps/landing/src/components/client-animations.tsx
  apps/landing/src/components/client-header.tsx
  apps/landing/src/components/client-layout.tsx
Due: eslint --fix, prettier --write

Complete HubSpot branding removal and add missing files
  ROADMAP.md
  docs/GUARD_RAILS.md
  packages/config/design-tokens/brand-tokens.json
  packages/config/tailwind/index.js
  packages/ui/package.json
  packages/ui/src/client.ts
  packages/ui/src/components/button.tsx
  packages/ui/src/components/language-selector-app.tsx
  packages/ui/src/components/theme-switcher.tsx
  packages/ui/src/contexts/theme-context.tsx
  packages/ui/src/index.ts
  packages/ui/src/server.ts
  packages/ui/src/utils/component-validator.ts
  packages/ui/tsup.config.ts
  scripts/validate-design-tokens.js
Due: eslint --fix, prettier --write, sort-package-json

fix: temporarily disable failing lint and test checks
  ROADMAP.md
  apps/docs/package.json
  apps/landing/package.json
  apps/web/package.json
  packages/auth/package.json
  packages/config/package.json
  packages/database/package.json
  packages/supabase/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
Due: prettier --write, sort-package-json

feat: implement comprehensive lint governance system
  .github/PULL_REQUEST_TEMPLATE.md
  docs/LINT_GOVERNANCE.md
  package.json
  scripts/check-disabled-linting.js
Due: eslint --fix, prettier --write, sort-package-json

feat: add comprehensive troubleshooting system and improve developer experience
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  README.md
  ROADMAP.md
  apps/docs/src/components/TopNav.tsx
  apps/docs/src/pages/_app.tsx
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/quickstart.tsx
  apps/docs/src/pages/troubleshooting/database-errors.tsx
  apps/docs/src/pages/troubleshooting/environment-variables.tsx
  apps/docs/src/pages/troubleshooting/index.tsx
  apps/landing/src/lib/pricing.ts
  database-multi.sql
  docs/DATABASE_SCHEMA.md
  docs/ORGANIZATION_MODES_COMPARISON.md
  docs/TROUBLESHOOTING.md
  packages/supabase/src/client/config.ts
  turbo.json
Due: eslint --fix, prettier --write

feat: implement Design System Foundation with atomic design pattern
  .stylelintrc.json
  ROADMAP.md
  packages/config/package.json
  packages/ui/src/atoms/avatars/Avatar.tsx
  packages/ui/src/atoms/badges/Badge.tsx
  packages/ui/src/atoms/buttons/Button.tsx
  packages/ui/src/atoms/inputs/Input.tsx
  packages/ui/src/atoms/spinners/Spinner.tsx
  packages/ui/src/atoms/toggles/Switch.tsx
  packages/ui/src/atoms/typography/Heading.tsx
  packages/ui/src/atoms/typography/Text.tsx
  packages/ui/src/client.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/molecules/alerts/Alert.tsx
  packages/ui/src/molecules/cards/Card.tsx
  packages/ui/src/providers/theme-provider.tsx
  packages/ui/src/styles/globals.css
Due: eslint --fix, prettier --write, stylelint --fix, sort-package-json

feat: complete Design System Foundation and Authentication System Core re-implementation
  apps/docs/src/pages/features/ui-components.tsx
  packages/auth/package.json
  packages/auth/src/lib/auth-client.ts
  packages/auth/src/lib/auth-server.ts
  packages/auth/src/lib/session-manager.ts
  packages/auth/src/types/auth.ts
  packages/auth/src/types/organization.ts
  packages/auth/src/types/permissions.ts
  packages/auth/src/types/session.ts
  packages/auth/src/types/user.ts
  packages/ui/src/components/atoms/buttons/IconButton.tsx
  packages/ui/src/components/atoms/data-display/Tag.tsx
  packages/ui/src/components/atoms/layout/Grid.tsx
  packages/ui/src/components/atoms/layout/Stack.tsx
  packages/ui/src/design-tokens/base/colors.json
  packages/ui/src/design-tokens/base/shadows.json
  packages/ui/src/design-tokens/base/spacing.json
  packages/ui/src/design-tokens/base/typography.json
  packages/ui/src/design-tokens/index.ts
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write, sort-package-json

fix: resolve TypeScript export conflicts and module path errors in UI package
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write

feat: implement comprehensive UI component library - Phase 1
  packages/ui/src/components/atoms/feedback/Progress.tsx
  packages/ui/src/components/atoms/inputs/Checkbox.tsx
  packages/ui/src/components/atoms/inputs/Radio.tsx
  packages/ui/src/components/atoms/inputs/Select.tsx
  packages/ui/src/components/atoms/inputs/Textarea.tsx
  packages/ui/src/components/atoms/layout/Container.tsx
  packages/ui/src/components/atoms/layout/Section.tsx
  packages/ui/src/components/molecules/feedback/Drawer.tsx
  packages/ui/src/components/molecules/feedback/Tooltip.tsx
  packages/ui/src/components/molecules/forms/Form.tsx
  packages/ui/src/components/molecules/navigation/Breadcrumb.tsx
  packages/ui/src/components/molecules/navigation/Pagination.tsx
  packages/ui/src/components/molecules/navigation/Tabs.tsx
  packages/ui/src/index.ts
Due: eslint --fix, prettier --write

feat: add comprehensive sidebar navigation with component hierarchy
  ROADMAP.md
  apps/landing/package.json
  apps/landing/src/app/auth/reset-password/page.tsx
  apps/landing/src/app/auth/sign-in/page.tsx
  apps/landing/src/app/auth/sign-up/page.tsx
  apps/landing/src/app/dashboard/page.tsx
  apps/landing/src/components/client-header.tsx
  apps/landing/src/components/client-layout.tsx
  apps/web/package.json
  apps/web/src/app/components/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/navigation/app-sidebar.tsx
  package-lock.json
  packages/config/src/schemas/auth.ts
  packages/ui/src/client.ts
Due: eslint --fix, prettier --write, sort-package-json

docs: update project status and roadmap to reflect completed features
  packages/ui/src/components/TestStatusBadge.tsx
Due: eslint --fix, prettier --write

feat: implement comprehensive cross-browser testing infrastructure
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/app/api/auth/resend-verification/route.ts
  apps/web/src/app/auth/callback/page.tsx
  apps/web/src/app/auth/forgot-password/page.tsx
  apps/web/src/app/auth/verify-email/page.tsx
  apps/web/src/app/dashboard/layout.tsx
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/invitation/[token]/page.tsx
  apps/web/src/app/settings/layout.tsx
  apps/web/src/app/settings/organization/members/page.tsx
  apps/web/src/app/settings/organization/page.tsx
  apps/web/src/app/settings/profile/page.tsx
  apps/web/src/app/settings/security/page.tsx
Due: eslint --fix, prettier --write

fix: resolve docs component type errors and missing imports
  apps/docs/src/components/ComponentLayout.tsx
  apps/docs/src/pages/components/auth-layout.tsx
  apps/docs/src/pages/components/breadcrumb.tsx
  apps/docs/src/pages/components/buttons.tsx
  apps/docs/src/pages/components/command-palette.tsx
  apps/docs/src/pages/components/container.tsx
  apps/docs/src/pages/components/context-menu.tsx
Due: eslint --fix, prettier --write

docs: add comprehensive feature testing requirements and standards
  FEATURE_TESTING_CHECKLIST.md
  FEATURE_TESTING_REQUIREMENTS.md
  README.md
Due: prettier --write

feat: add comprehensive profile management system and documentation
  README.md
  ROADMAP.md
  apps/docs/src/pages/docs/PROFILE_MANAGEMENT_API.tsx
  apps/docs/src/pages/docs/PROFILE_MANAGEMENT_GUIDE.tsx
  apps/docs/src/pages/features/profile-management.tsx
  apps/web/src/app/api/profile/avatar/route.ts
  apps/web/src/app/api/profile/data-export/route.ts
  apps/web/src/app/api/profile/delete-account/route.ts
  apps/web/src/app/api/profile/preferences/route.ts
  apps/web/src/app/api/profile/route.ts
  apps/web/src/app/settings/profile/organization/page.tsx
  apps/web/src/app/settings/profile/page.tsx
  docs/PROFILE_MANAGEMENT_API.md
  docs/PROFILE_MANAGEMENT_GUIDE.md
  jest.config.base.js
  supabase/migrations/019_profile_management_tables.sql
  supabase/migrations/020_account_deletion_tables.sql
Due: eslint --fix, prettier --write

fix: cleanup and build improvements
  ROADMAP.md
  apps/docs/src/pages/components/context-menu.tsx
  apps/docs/src/pages/components/dashboard-layout.tsx
  apps/web/jest.config.js
  database-single.sql
  scripts/generate-database-sql.js
Due: eslint --fix, prettier --write

chore: final documentation updates and minor improvements
  ROADMAP.md
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/quickstart.tsx
  packages/usage-billing/src/hooks/useUsageTracking.ts
Due: eslint --fix, prettier --write

fix: resolve TypeScript build and linting issues across monorepo
  packages/enterprise-auth/package.json
  packages/enterprise-auth/src/middleware/security-middleware.ts
  packages/ui/src/components/atoms/inputs/Select.tsx
  packages/ui/src/components/organisms/email/EmailAnalyticsDashboard.tsx
  packages/ui/src/components/organisms/email/EmailCampaignList.tsx
  packages/ui/src/components/organisms/email/EmailTemplateEditor.tsx
  packages/ui/src/index.ts
  packages/usage-billing/package.json
  packages/usage-billing/src/types/analytics.ts
  packages/usage-billing/tsconfig.json
Due: eslint --fix, prettier --write, sort-package-json

fix: update docs and web package configurations for build consistency
  apps/docs/package.json
  apps/docs/src/pages/components/dashboard-layout.tsx
  apps/web/package.json
Due: eslint --fix, prettier --write, sort-package-json

docs: update documentation and dependencies for email system
  README.md
  ROADMAP.md
  apps/docs/src/pages/features/email-system.tsx
  database-single.sql
  package-lock.json
  package.json
  test-email-coverage.js
  test-email-system.js
  test-email.js
Due: eslint --fix, prettier --write, sort-package-json

feat: complete admin system integration with documentation and configuration
  .env.sample
  README.md
  ROADMAP.md
  apps/docs/src/pages/quickstart.tsx
  apps/web/middleware.ts
  apps/web/package.json
  apps/web/src/app/api/auth/signin/route.ts
  apps/web/src/test-utils/setup.ts
  package.json
  packages/auth/src/middleware/index.ts
  packages/multi-tenant/src/types/permissions.ts
  packages/ui/tsup.config.bundled_jtosj348eng.mjs
  test-results/.last-run.json
  test-results/auth-user-registration-no--c781d-mmediately-access-dashboard-chromium/error-context.md
  test-results/auth-user-registration-no--c781d-mmediately-access-dashboard-chromium/test-failed-1.png
  test-results/auth-user-registration-no--c781d-mmediately-access-dashboard-chromium/video.webm
Due: eslint --fix, prettier --write, sort-package-json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass})) or (any of: *.{json,md,mdx,yaml,yml})) or (any of: package.json)
  stylelint --fix: any of: *.{css,scss,sass}
  sort-package-json: any of: package.json
